<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
            <td>Subscription</td>
        </thead>

        {% for row in rows%}

        <tr>
            <td>{{row['Id']}}</td>
            <td>{{row['Name']}}</td>
            <td>{{row['Email']}}</td>
            <td>{{row['Subscription']}}</td>
        </tr>

        {% endfor %}
    </table>
    <a href="/">Go to Home Page</a>
</body>
</html>